@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}

@mixin typeScale($type-scaling: 0, $height-scaling: 1) {
  font-size: pow($scaling-factor, $type-scaling) * $base-font-size;
  line-height: $base-line-height * $height-scaling;
}