@import '../../mixins/breakpoints/breakpoints.less';

._is-hidden {
  visibility: hidden;

  &\:xs {
    .xs({
      visibility: hidden;
    });
  }

  &\:sm {
    .sm({
      visibility: hidden;
    });
  }

  &\:md {
    .md({
      visibility: hidden;
    });
  }

  &\:lg {
    .lg({
      visibility: hidden;
    });
  }

  &\:xl {
    .xl({
      visibility: hidden;
    });
  }

  &\:xxl {
    .xxl({
      visibility: hidden;
    });
  }

  &\:xxxl {
    .xxxl({
      visibility: hidden;
    });
  }
}

._is-visible {
  visibility: visible;

  &\:xs {
    .xs({
      visibility: visible;
    });
  }

  &\:sm {
    .sm({
      visibility: visible;
    });
  }

  &\:md {
    .md({
      visibility: visible;
    });
  }

  &\:lg {
    .lg({
      visibility: visible;
    });
  }

  &\:xl {
    .xl({
      visibility: visible;
    });
  }

  &\:xxl {
    .xxl({
      visibility: visible;
    });
  }

  &\:xxxl {
    .xxxl({
      visibility: visible;
    });
  }
}
