._align\:left {
  text-align: left;
}

._align\:right {
  text-align: right;
}

._align\:center {
  text-align: center;
}

._align\:middle {
  vertical-align: middle;
}

._align\:baseline {
  vertical-align: baseline;
}

._align\:top {
  vertical-align: top;
}

._align\:bottom {
  vertical-align: bottom;
}

._align\:sub {
  vertical-align: sub;
}

._align\:text-top {
  vertical-align: top;
}
